# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/tmp/*/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

config/secrets.yml
.env
.env.production
.production-env
.DS_Store

# We don't need the git repo to be
# a part of the image.
.git