{{#each (sort-by "created_at:desc" assets) as |asset|}}
  <li class="asset-list__item">
    <img src="{{asset.urls.lsquare}}">
  </li>
{{/each}}


<li class="asset-list__spacer"></li>
<li class="asset-list__spacer"></li>
<li class="asset-list__spacer"></li>
<li class="asset-list__spacer"></li>
<li class="asset-list__spacer"></li>

