.toolbar-component
  background: $color-gray-lightest !important
  color:      $color-gray          !important

// Ugh.... easier to use evil !important than to waste time getting Ember Paper to use my colors

.toolbar-component__search-box
  align-items:     center
  display:         flex
  flex-direction:  column
  height:          0
  justify-content: center
  margin-left:     pixels($margin)
  margin-top:      0

.toolbar-component__search-box .paper-icon
  // color:     $color-gray
  transform: translateY(pixels(-7))

.toolbar-component__menu-toggle
  display: none

.toolbar-component__sidenav-container .md-sidenav-backdrop, .application__side-menu
  position: fixed

@mixin toolbar-component--sm
  .toolbar-component__buttons
    display: none
  .toolbar-component__menu-toggle
    display: block

