#chooser__pane
  display:       flex
  padding-left:  pixels($margin)
  padding-right: pixels($margin)

#chooser__asset-selector
  flex-shrink:  0
  // height:       pixels(300)
  margin-right: pixels($gutter)
  min-height:   pixels(300)
  width:        pixels(375)

#chooser__search-box
  float: right
  

#chooser__asset-list
  @include asset-list--chooser
  align-self: flex-start
  background: initial
  flex-shrink: 0
  padding-top: 5px
  transform:   translateY(-30px) // This and the padding compensate for the top tiles being cut off.
  width:       pixels(650)

#chooser__asset-bucket
  height: 100%

@media (max-width: 1120px)
  #chooser__asset-list
    flex-shrink: 1

