.asset-bucket
  background:    $color-gray-lightest
  border-radius: 15px
  padding: 0

.asset-bucket__item-thumb
  animation-name: loading-pulse
  animation-direction: alternate
  animation-duration: 0.5s
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out
  height: 100%

.asset-bucket__actions
  margin-right: 0
  margin-top:   0
  position:     absolute
  right:        0

.asset-bucket__text
  margin-left: 10px

@keyframes loading-pulse
  from
    background-color: $color-gray-light
  to
    background-color: $color-gray-lightest

